:root {
  --primary-color: #0d1251;
  --secondary-color: hsl(192, 25%, 64%);
  --tertiary-color: #908a63;
  --background-color: 236, 229, 209;
  --second-background-color: white;
  --main-font-family: "Roboto", sans-serif;
  --title-font-family: "Fira Sans", sans-serif;
}
body {
  font-family: var(--main-font-family);
  color: var(--primary-color);
}
/* Index html page */
/* Navigation */
nav {
  display: inline;
  list-style: none;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  margin-top: 5px;
  margin-bottom: 0px;
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}
.nav-name {
  font-family: var(--title-font-family);
  font-weight: bold;
  opacity: 50%;
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 0px;
}
/* HERO */
.hero {
  background-color: rgba(var(--background-color), 0.2);
  text-align: center;
  padding: 80px 20px;
}
/* Rest of page */
.hero h2,
h3 {
  opacity: 50%;
}
h1 {
  font-family: var(--title-font-family);
  font-size: 72px;
  line-height: 1.5;
  color: black;
}
h2 {
  font-size: 42px;
  font-weight: medium;
}
h3 {
  font-size: 36px;
}
p {
  font-size: 18px;
}
/* Main button */
.btn-primary {
  background: var(--primary-color);
  border-radius: 4px solid var(--primary-color);
  color: rgba(var(--background-color), 1);
  box-shadow: 2px 2px 2px var(--tertiary-color);
  font-size: 21px;
  font-weight: medium;
  height: 63px;
  width: 200px;
  padding: 15px 30px;
}
.btn-primary:hover {
  background: rgba(var(--background-color), 0.2);
  border-radius: 4px solid var(--primary-color);
  color: var(--primary-color);
}
/* Secondary buttons */
.learn-more-btn,
.about-btn {
  background: rgba(var(--background-color), 0.2);
  color: var(--primary-color);
  box-shadow: 2px 2px 2px var(--tertiary-color);
  border-radius: 4px solid var(--primary-color);
  font-size: 21px;
  font-weight: medium;
  height: 63px;
  width: 200px;
  padding: 15px 30px;
}
.learn-more-btn:hover,
.about-btn:hover {
  background: var(--primary-color);
  color: rgba(var(--background-color), 1);
  border-radius: 4px solid var(--primary-color);
}
/* projects */
.featured-projects {
  opacity: 0.5;
}
.project-description {
  padding: 120px 40px;
}
img {
  height: 50%;
}
/* Footer */
footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--secondary-color);
}
footer .social-links a {
  color: var(--primary-color);
  background: rgba(var(--background-color), 0.2);
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 50%;
  margin: 0 20px;
  transition: all 150s ease-in-out;
}
footer .social-links a:hover {
  background: var(--primary-color);
  color: rgba(var(--background-color), 0.2);
}
/* Contact Box */
footer .contact-box {
  background: rgba(var(--background-color), 0.2);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .content-box-text {
  opacity: 100%;
}
footer .contact-box p {
  font-weight: black;
}
/* Reference */
.reference {
  margin: 40px;
}
/* About and Work Sections Styling */
/* About Section */
.content-container {
  padding: 60px 20px;
}
.content {
  margin: 30px;
}
.content h3 {
  margin: 20px 0 0;
}
.content p {
  margin: 0px;
}
@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }
  .index-image,
  .project-description,
  .projects,
  .featured-projects {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  btn {
    font-size: 16px;
    max-width: 100px;
    max-bheight: 44px;
  }
  footer .contact-box {
    padding: 30px;
  }
  /* About Section */
  .about-section {
    text-align: center;
    padding: 0;
  }
}
