@media (max-width: 960px) {
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0px;
    text-align: center;
  }
  .feature-heading {
    margin-bottom: 0px;
  }
  .projects {
    margin: 0px;
  }
  h1 {
    font-size: 44px;
  }
  h4 {
    font-size: 18px;
  }
  footer .contact-box {
    padding: 30px;
  }
  /* About Section */
  .about-section {
    text-align: center;
    padding: 0;
  }
}
:root {
  --primary-color: #0d1251;
  --secondary-color: hsl(192, 25%, 64%);
  --tertiary-color: #908a63;
  --background-color: 236, 229, 209;
  --primary-text-color: black;
  --main-font-family: "Roboto", sans-serif;
  --title-font-family: "Fira Sans", sans-serif;
}
body {
  font-family: var(--main-font-family);
}
/* Index html page */
/* Navigation */
nav {
  display: inline;
  list-style: none;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}
.nav-name {
  max-width: 300px;
  margin-top: 10px;
}
/* Hero */
.hero {
  background-color: rgba(var(--background-color), 0.2);
  text-align: left;
  padding: 80px 20px;
}
.hero-content {
  margin-left: 90px;
  opacity: 1;
}
/* Animated text for "I am" */
.intro {
  display: flex;
  background-size: cover;
}
.hero h1 {
  font-weight: medium;
  font-size: 72px;
}
h1,
h2,
p {
  color: var(--primary-color);
}
h2,
.hero p {
  color: #272142;
}
/* Rest of page */
h1 {
  font-family: var(--title-font-family);
  font-size: 96px;
  line-height: 1.5;
  color: black;
}
h2,
.feature-heading {
  font-size: 24px;
  font-weight: medium;
}
h4 {
  font-size: 48px;
}
.hero p,
.project-name {
  font-size: 36px;
}
.btn-primary {
  background: var(--primary-color);
  border-radius: 4px solid var(--primary-color);
  color: var(--background-color);
  box-shadow: 2px 2px 2px var(--tertiary-color);
  font-size: 21px;
  font-weight: medium;
  height: 63px;
  width: 200px;
  padding: 15px 30px;
}
.btn-primary:hover {
  background: var(--background-color);
  border-radius: 4px solid var(--primary-color);
  color: var(--primary-color);
}
.learn-more-btn {
  background: var(--background-color);
  color: var(--primary-color);
  border-radius: 4px solid var(--primary-color);
  font-size: 21px;
  font-weight: medium;
  height: 63px;
  width: 200px;
  padding: 15px 30px;
}
.learn-more-btn:hover {
  background: var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px solid var(--primary-color);
}
.project-description {
  padding: 120px 60px;
}
img {
  height: 50%;
}
/* Footer */
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--primary-color);
}
footer .social-links a {
  margin: 0 20px;
  padding: 10px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--background-color);
  color: var(--primary-color);
  transition: all 150s ease-in-out;
}
footer .social-links a:hover {
  background: var(--primary-color);
  color: white;
}
footer .contact-box {
  background: var(--background-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0px;
}
.reference {
  margin: 40px;
}
/* About and Work Sections Styling */
.content-container {
  padding: 60px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--main-font-family: "Poppins", sans-serif;);
}
.content p {
  font-size: 16px;
  margin: 0px;
}
.about-btn {
  background: var(--primary-color);
  border-radius: 4px solid var(--primary-color);
  font-size: 21px;
  font-weight: medium;
  height: 63px;
  width: 260px;
  padding: 15px 30px;
}
.about-btn:hover {
  background: var(--background-color);
  border-radius: 4px solid var(--primary-color);
  color: var(--primary-color);
}
